{% extends 'themes/base_admin.html.twig' %}

{% block title %}
	- Reservation salle de réunion - Espace Admin
{% endblock %}

{% block main %}

	<h1 class=' text-secondary text-center my-3 display-5'>Reservation salle de réunion</h1>

{% endblock %}
