{% extends 'themes/base_visitor.html.twig' %}

{% block Boostrap %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% endblock %}


{% block title %}
	- Reservation salle de réunion - A Propos
{% endblock %}

{% block main %}

	<div class="container">
		<h1 class=' text-secondary text-center my-3 display-5'>A Propos</h1>

		<div class='text-center mt-5'>

			<p>RoomEase est une entreprise qui offre des solutions de location de salles de réunion entièrement équipées pour les professionnels. Depuis plusieurs années, nous aidons les entreprises à organiser des réunions, des formations, des événements et des conférences dans des salles adaptées à leurs besoins. Nous proposons une large gamme de salles de réunion et de conférence, allant de petites salles pour les réunions d'affaires aux grandes salles pour les conférences et les événements d'entreprise.</p>

			<p>
				Toutes nos salles sont équipées de tout le matériel nécessaire pour mener à bien votre événement, notamment des écrans de projection, des équipements audiovisuels, des connexions de haute qualité et des fournitures de bureau. Nos salles sont également équipées de mobilier de qualité pour assurer le confort de vos invités. Nous offrons un service personnalisé pour répondre à toutes les demandes spéciales et nous sommes fiers de fournir des solutions sur mesure pour répondre aux besoins de chaque client.
			</p>

			<p>
				Chez RoomEase, nous sommes passionnés par ce que nous faisons et nous nous engageons à fournir un service de qualité à nos clients. Avec notre équipe d'experts en événementiel, nous travaillons pour offrir des solutions innovantes et fiables pour les événements d'entreprise. Nous sommes convaincus que notre expérience et notre professionnalisme sont les atouts clés pour satisfaire les besoins de nos clients.
			</p>

			<p>
				Nous sommes impatients de vous accueillir chez RoomEase et de vous aider à créer des événements exceptionnels qui resteront gravés dans la mémoire de vos invités.
			</p>
		</div>

	</div>
{% endblock %}
