{% extends 'themes/base_visitor.html.twig' %}

{% block Boostrap %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% endblock %}


{% block title %}
	- Reservation salle de réunion - Accueil
{% endblock %}

{% block main %}

	<h1 class=' text-secondary text-center my-3 display-5'>Reservation salle de réunion</h1>

{% endblock %}
