{% extends 'themes/base_admin.html.twig' %}

{% block title %}
	- Espace Admin - Liste des Equipements
{% endblock %}

{% block main %}

	<h1 class=' text-secondary text-center my-3 display-5'>Liste des Equipements</h1>

{% endblock %}
